## THIS NOTEBOOK WILL NOT WORK IN GOOGLE COLAB!!! IT MUST BE RUN LOCALLY!!! You can download it as an .ipynb file and open that with Jupyter notebook/labs

In [2]:
!pip install sqlalchemy
!pip install pymysql

import sqlalchemy
import pymysql
from sqlalchemy import create_engine
import pandas as pd

Requirement already satisfied: sqlalchemy in c:\users\llama\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\llama\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\llama\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: pymysql in c:\users\llama\anaconda3\lib\site-packages (1.1.1)

If you get an error saying something like "sqlalchemy not installed", you should add a code cell and write `pip install sqlalchemy`. Then, rerun the above cell (you might also need to install pymysql the same way)

In [3]:
password = '/'
db_name = 'hotel_booking'

In [ ]:
# import os
# password = os.getenv("DB_PASSWORD")

In [4]:
conn = pymysql.connect(host='127.0.0.1', port=3306, user='root', password=password, database=db_name)

In [5]:
connection = create_engine("mysql+pymysql://root:" + password + "@localhost:3306/" + db_name)

In [30]:
reservations = pd.read_excel(r'C:\Users\llama\Downloads\Reservations.xlsx')

In [33]:
table_name = 'reservations'

In [34]:
reservations.to_sql(name=table_name, con=connection, if_exists='replace', index=False)

102

In [35]:
rooms = pd.read_excel(r'C:\Users\llama\Downloads\Rooms.xlsx')

In [36]:
table2_name = 'rooms'

In [37]:
rooms.to_sql(name=table2_name, con=connection, if_exists='replace', index=False)

50

In [32]:
guests = pd.read_excel(r'C:\Users\llama\Downloads\Guests1.xlsx')

In [33]:
table3_name = 'guests'

In [34]:
guests.to_sql(name=table3_name, con=connection, if_exists='replace', index=False)

101

In [6]:
payments = pd.read_excel(r'C:\Users\llama\Downloads\Payments1.xlsx')

In [7]:
table4_name = 'payments'

In [8]:
payments.to_sql(name=table4_name, con=connection, if_exists='replace', index=False)

102

We use SQL syntax for querying. The triple quotation mark syntax allows us to write commands simiar to how we did in SQL

In [35]:
query1 = "SELECT * FROM guests"
query2 = """

SELECT * FROM guests
WHERE Membership_Status ='Platinum'

"""

In [36]:
result_df = pd.read_sql(query1, con=connection)

In [37]:
result_df

,First_Name,Last_Name,Guest_ID,Address,Phone_number,Email,Membership_Status
0,Kevin,Thompson,1000,"165 Parrish Stravenue Apt. 494, Dalehaven, FL ...",(478) 686-3375,fmiles@hotmail.com,Silver
1,Travis,Williams,1001,"8514 Lindsay Vista, New Sarahview, HI 36319",(069) 033-1190,christopher18@mccann.net,Silver
2,Colton,Harmon,1002,"5022 Jones Streets Apt. 183, Barnesmouth, MN 4...",(067) 383-0284,wwillis@hotmail.com,Standard
3,Paige,Fox,1003,"22901 Ramos Manors, Lawsonchester, IL 99452",(342) 836-4408,holly30@miller.com,Standard
4,Derek,Reese,1004,"1497 Williams Locks Apt. 034, Port Derrick, LA...",(056) 856-6246,parkerjudith@hotmail.com,Standard
...,...,...,...,...,...,...,...
96,Lindsey,Hines,1097,"135 Julie Inlet Suite 554, Stevenville, AR 83652",991-738-1684,pittsedward@gmail.com,Platinum
97,Matthew,Benitez,1098,"52175 Lawrence Centers Apt. 743, New Kathy, WY...",966-667-6008,stephanie58@smith.com,Standard
98,Jeremy,Wiley,1099,"8942 Madison Hills, Stephenhaven, NC 44781",257-532-6033,richardsondebra@brooks.com,Platinum
99,Kelsey,Dean,1100,"100 Robert Light, New Johnnyberg, UT 90382",046-184-9926,glovertyler@hotmail.com,Platinum
100,James,Baker,1101,"6420 Lozano Spurs, Riveratown, TN 12166",972-181-1437,steven12@gmail.com,Platinum

In [38]:
result_df_2 = pd.read_sql(query2, con=connection)

In [39]:
result_df_2

,First_Name,Last_Name,Guest_ID,Address,Phone_number,Email,Membership_Status
0,Robert,Logan,1012,"51864 Cummings Shoals Apt. 519, West Kyle, UT ...",(808) 010-0623,margaret95@gmail.com,Platinum
1,Ricky,Ellis,1015,"880 Walter River, New Nicholas, HI 91313",(398) 454-6156,kellymueller@hotmail.com,Platinum
2,Antonio,Brown,1017,"59774 Shaw Manor Apt. 392, Brettfort, MN 73185",(659) 180-3397,randolphandrew@reed.com,Platinum
3,Mitchell,Mendoza,1018,"USS Mitchell, FPO AE 36256",(890) 250-3926,usweeney@garcia-moreno.com,Platinum
4,Cory,Browning,1022,"17980 Jennifer Highway Suite 095, New Robert, ...",(655) 110-4754,kjones@graham.com,Platinum
5,Amy,Miller,1024,"05852 Pollard Neck Apt. 217, West Jamesborough...",(604) 661-8398,jesus32@hotmail.com,Platinum
6,Tiffany,Franklin,1025,"USCGC Hays, FPO AP 62550",(444) 721-2646,danielcole@russell-herrera.com,Platinum
7,Michael,Jones,1026,"5054 Lauren Mews, Paulfurt, HI 65539",(437) 993-7124,steven11@gmail.com,Platinum
8,Travis,Williams,1029,"8515 Lindsay Vista, New Sarahview, HI 36319",(069) 033-1191,christopher18@mccann.net,Platinum
9,Kristin,Miles,1036,"84249 Wayne Extension Apt. 299, Meganshire, AK...",(362) 266-0937,patrick63@wilkerson.net,Platinum
10,David,Curtis,1038,"3592 Hensley Island Suite 625, West Johnville,...",(785) 969-6915,bnelson@yahoo.com,Platinum
11,Kathy,Lewis,1041,"45650 Williams Points Apt. 584, South Williams...",(225) 790-5072,amanda03@bradford.com,Platinum
12,Molly,Morgan,1044,"0551 Silva Underpass Apt. 974, Lake Brett, GA ...",(807) 836-1340,halljeffery@woods.com,Platinum
13,David,Hernandez,1051,"400 Bradley Coves, Justinside, NM 18090",(706) 324-2415,carriemccall@walker.com,Platinum
14,John,Leblanc,1052,"3152 Wong Stravenue Apt. 054, East Cheryl, MO ...",(064) 361-1037,youngtoni@gmail.com,Platinum
15,Greg,Jones,1053,"1227 Boyle Avenue, Patrickmouth, KY 43705",(870) 051-6271,sean43@steele.com,Platinum
16,Anthony,Davis,1055,"2795 Miles Mountains, Port John, PA 11231",(753) 269-7311,amy17@hotmail.com,Platinum
17,John,Cain,1058,"65180 Valerie Mountains, West Robertberg, SD 9...",(791) 805-5269,bbush@hotmail.com,Platinum
18,Daniel,Davis,1063,"845 Norton Common, Susanmouth, IA 91889",410-166-6870,christopherbruce@mueller.com,Platinum
19,Patricia,Ellison,1064,"0148 Harry Vista Suite 039, Port Lori, MO 10585",293-968-5621,marypeterson@hotmail.com,Platinum
20,Donald,Edwards,1072,"0723 Maynard Parkways, Ortizfort, VT 58677",219-034-0438,armstrongjoseph@hotmail.com,Platinum
21,Valerie,Peck,1078,"8271 Brenda Bridge Suite 300, Hunterhaven, MT ...",618-892-4141,wwillis@hotmail.com,Platinum
22,Erin,Jones,1079,"31617 Kyle Streets, North Alexander, UT 01988",758-842-5241,lindsay48@baker.com,Platinum
23,Tyler,Dixon,1080,"2419 Jeremy Pass, North Micheletown, AZ 62336",622-086-3536,shawrachel@gmail.com,Platinum
24,John,Allen,1086,"96522 Brittany Valley, Robintown, UT 46596",929-378-4270,halljeffery@woods.com,Platinum
25,Matthew,Thompson,1087,"02921 Yu Landing Suite 915, Marcusburgh, NE 84290",528-953-9264,whitelucas@hotmail.com,Platinum
26,Steven,Perez,1091,"11586 Angela Ville, Cardenaschester, TX 62737",374-160-8989,averyshane@stanton.com,Platinum
27,Lindsey,Hines,1097,"135 Julie Inlet Suite 554, Stevenville, AR 83652",991-738-1684,pittsedward@gmail.com,Platinum
28,Jeremy,Wiley,1099,"8942 Madison Hills, Stephenhaven, NC 44781",257-532-6033,richardsondebra@brooks.com,Platinum
29,Kelsey,Dean,1100,"100 Robert Light, New Johnnyberg, UT 90382",046-184-9926,glovertyler@hotmail.com,Platinum
30,James,Baker,1101,"6420 Lozano Spurs, Riveratown, TN 12166",972-181-1437,steven12@gmail.com,Platinum